* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
}

/*? css variables */
:root {
  --font-noto-serif: "Noto Serif", serif;
  --font-inter: "Inter", sans-serif;
  --grey01: #8987a1;
  --gray02: #6b7280;
  --black01: #111111;
  --black02: #252432;
  --orang01: #e95a08;
  --font22px: 1.2rem;
  --font-Bold: 700;
  --font-Semi-bold: 600;
}
/*? css variables */

/*? css shared/common property Starts here */
header,
.banner_section,
.our_plants_section,
.Plants_lover_section,
.Latest_deals_section {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar,
.nav_links,
.nav_link,
.banner_section,
.Plants_lover_section,
.latest_deals_card,
.join_section,
form,
.footer_section,
.footer_info_details {
  display: flex;
}

.display_grid,
.our_plants_card_box,
.latest_deals_card_box {
  display: grid;
}

.banner_title,
.our_plants_title,
.plants_lover_title,
.latest_deals_title,
.latest_deals_card_title,
.join_section_title {
  font-family: var(--font-noto-serif);
  font-size: 3.1rem;
  font-weight: var(--font-Bold);
}

.banner_subtitle,
.our_plants_subtitle,
.card_title,
.card_subtitle,
.plant_lover_lists li,
.latest_deals_subtitle,
.footer_subtitle {
  font-family: var(--font-inter);
  font-size: var(--font22px);
  color: var(--gray02);
}

.bloom_card,
.zabo_card,
.ana_card,
.join_section {
  background-repeat: no-repeat;
  background-size: cover;
}

/*? css shared/common button property */
.card_btn,
form input[type="submit"] {
  background-color: var(--orang01);
  color: white;
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}

/*? Css shared/common button hover property */
.card_btn:hover,
form input[type="submit"]:hover {
  box-shadow: 2px 4px 6px rgba(78, 77, 77, 0.5),
    -2px -4px 6px rgba(65, 64, 64, 0.6);
  background: linear-gradient(to right, #bff1fa, #37797e);
}

/*? Css shared/common card hover property */
.our_plants_card:hover,
.latest_deals_card:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), 0 8px 20px rgba(0, 0, 0, 0.7);
}
/*? css shared/common property ends here */

/*? header section Starts here */
/*? navbar section Starts here */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
}
.nav_links {
  align-items: center;
  gap: 40px;
}
.nav_link {
  align-items: center;
  gap: 40px;
}
.nav_link li {
  list-style: none;
  border-bottom: 2px solid transparent;
}
.nav_link li:hover {
  border-bottom: 2px solid tomato;
}
.nav_link a {
  text-decoration: none;
  color: var(--grey01);
  font-size: 1.1rem;
}
.nav_link .link01 {
  color: var(--black02);
  font-weight: 600;
}
.cart_icon {
  cursor: pointer;
}
.cart_icon span {
  font-size: 1.1rem;
}
#cart_icon {
  transition: transform 0.2s linear;
}
#cart_icon:hover {
  transform: scale(1.34);
}
/*? navbar section Ends here */

/*? Banner section Starts here */
.banner_section {
  justify-content: space-between;
  align-items: flex-end;
  height: 460px;
  margin-block: 40px;
}
.banner_info {
  width: 570px;
  height: 300px;
}
.banner_title span {
  color: var(--orang01);
}
.banner_title {
  font-size: 4rem;
  margin-bottom: 20px;
}
.banner_img {
  height: 355px;
}
/*? Banner section Ends here */
/*? header section Ends here */

/*? Main section Starts here  */
/*? Our Plants section starts here */
.our_plants_section {
  text-align: center;
  margin-block: 150px;
}
.our_plants_title span {
  color: var(--orang01);
}
.our_plants_subtitle {
  width: 858px;
  margin: 0 auto;
  margin-block: 24px;
}
.our_plants_card_box {
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}
.our_plants_card {
  width: 270px;
  height: fit-content;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
.img_box {
  margin-bottom: 20px;
  width: 270px;
  height: 323px;
}
.img_box img {
  width: 100%;
  height: 100%;
}
.card_title,
.card_subtitle {
  color: var(--black01);
  font-weight: 500;
}
.card_subtitle {
  font-weight: 700;
  margin-block: 14px;
}
.card_btn {
  width: 100%;
  height: 50px;
}
/*? Our Plants section ends here */

/*? Plants Lover section Starts here */
.Plants_lover_section {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.plant_lover_img_box {
  width: 540px;
  height: 100%;
  position: relative;
}
.plant_lover_img_box img {
  width: 100%;
  height: fit-content;
}
.trusted_badge {
  position: absolute;
  top: -110px;
  left: 380px;
  animation: RotatingBadge 8s linear infinite;
  filter: drop-shadow(2px 2px 4px #4a4a4b);
}
.plants_lover_info_box {
  width: 540px;
  height: 520px;
}
.plants_lover_title {
  margin-bottom: 30px;
}
.plant_lover_lists li {
  width: 90%;
  margin-left: 30px;
  margin-bottom: 40px;
}
/*? Plants Lover section ends here */

/*? Latest Deals section Starts here */
.Latest_deals_section {
  text-align: center;
  margin-bottom: 100px;
}
.latest_deals_title span {
  color: var(--orang01);
}
.latest_deals_subtitle {
  width: 86%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 70px;
}
.latest_deals_card_box {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "bloom zabo"
    "ana zabo";
  gap: 20px;
}
.latest_deals_card {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
.latest_deals_card_title {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 16px;
}
.latest_deals_card_link a {
  font-family: var(--font-inter);
  font-size: 1rem;
  color: white;
  font-weight: 600;
}
.bloom_card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/deal-bloom.png");
  height: 200px;
  grid-area: bloom;
}
.zabo_card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/deal-zabo.png");
  grid-area: zabo;
}
.zabo_card h3 {
  font-size: 2.5rem;
}
.zabo_card a {
  font-size: 1.8rem;
}
.ana_card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/deal-ana.png");
  height: 200px;
  grid-area: ana;
}
/*? Latest Deals section Ends here */

/*? Join section Starts here */
.join_section {
  background-image: url("../assets/news-letter-bg.png");
  background-position: center;
  height: 534px;
  justify-content: center;
  align-items: center;
}
.join_info_details {
  width: 830px;
  height: 140px;
}
.join_section_title {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}
.join_info_details form {
  height: 50px;
  justify-content: center;
  align-items: center;
}
form input[type="email"] {
  width: 80%;
  height: 100%;
  font-size: 1rem;
  font-family: var(--font-inter);
  padding-left: 20px;
  outline: 0;
}
form input[type="submit"] {
  height: 100%;
  width: 20%;
}
/*? Join section Ends here */
/*? Main section Ends here  */

/*? Footer section Starts  here */
.footer_section {
  height: 348px;
  justify-content: center;
  align-items: center;
}
.footer_info_details {
  width: 1120px;
  justify-content: space-between;
}
.footer_logo_and_subtitle {
  width: 330px;
  height: 180px;
}
.footer_logo_and_subtitle img {
  margin-bottom: 20px;
}
.footer_links li {
  list-style: none;
  margin-bottom: 30px;
}
.footer_links a {
  color: var(--gray02);
  text-decoration: none;
  font-size: 1.1rem;
}
.footer_links a:hover {
  border-bottom: 2px solid var(--gray02);
}
.social_media_links img {
  margin-left: 24px;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.social_media_links img:hover {
  transform: rotate(30deg);
}
.twitter_logo {
  margin-bottom: 12px;
}
/*? Footer section Ends  here */

/*? Responsive Media Query for Small devices */
@media screen and (max-width: 576px) {
  header,
  .our_plants_section,
  .Plants_lover_section,
  .Latest_deals_section {
    max-width: 96%;
    margin: 0 auto;
  }
  .nav_link {
    display: none;
  }
  .nav_logo img {
    width: 84px;
  }
  .cart_icon span {
    margin-right: 8px;
    font-size: 20px;
  }
  .banner_section {
    flex-direction: column-reverse;
    max-width: 98%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .banner_info {
    width: 100%;
    height: fit-content;
  }
  .banner_title,
  .our_plants_title,
  .plants_lover_title,
  .latest_deals_title {
    font-size: 1.5rem;
  }
  .banner_subtitle {
    font-size: 0.9rem;
  }
  .banner_img,
  .banner_img img {
    width: 100%;
    height: 245px;
  }
  .our_plants_section {
    margin-block: 60px;
  }
  .our_plants_subtitle {
    width: 86%;
    font-size: 0.9rem;
  }
  .our_plants_card_box {
    grid-template-columns: repeat(2, 1fr);
  }
  .our_plants_card {
    width: 100%;
    height: fit-content;
  }
  .img_box,
  .img_box img {
    width: 100%;
    height: 100%;
  }
  .card_title,
  .card_subtitle {
    font-size: 1rem;
  }
  .Plants_lover_section {
    flex-direction: column;
    margin-bottom: 120px;
    margin-top: 80px;
  }
  .trusted_badge {
    display: none;
  }
  .plant_lover_img_box {
    width: 100%;
    margin-bottom: 20px;
  }
  .plant_lover_img_box img,
  .plants_lover_info_box {
    width: 100%;
    height: fit-content;
  }
  .plant_lover_lists li {
    width: 90%;
    font-size: 0.9rem;
    margin-bottom: 24px;
  }
  .Latest_deals_section {
    margin-bottom: 60px;
  }
  .latest_deals_subtitle {
    font-size: 0.9rem;
  }
  .latest_deals_card_box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "bloom"
      "ana"
      "zabo";
  }
  .zabo_card {
    height: 197px;
  }
  .zabo_card h3 {
    font-size: 1.2rem;
  }
  .zabo_card a {
    font-size: 1rem;
  }
  .join_section {
    height: 274px;
  }
  .join_section_title {
    font-size: 1.25rem;
  }
  .join_info_details {
    height: 100px;
    width: 80%;
  }
  form input[type="email"] {
    width: 65%;
    height: 100%;
  }
  form input[type="submit"] {
    height: 100%;
    width: 35%;
  }
  .footer_section {
    height: 864px;
  }
  .footer_info_details {
    width: 96%;
    height: 764px;
    flex-direction: column;
  }
  .footer_logo_and_subtitle {
    margin-bottom: 20px;
  }
  .social_media_links img {
    margin-left: 2px;
    margin-right: 18px;
  }
}
/*? Responsive Media Query for Small devices */

/*? Responsive Media Query for Medium devices */
@media screen and (min-width: 577px) and (max-width: 999px) {
  header,
  .our_plants_section,
  .Plants_lover_section,
  .Latest_deals_section {
    max-width: 96%;
    margin: 0 auto;
  }
  .banner_section {
    align-items: center;
  }
  .banner_info {
    width: 100%;
    height: fit-content;
  }
  .banner_title,
  .our_plants_title,
  .plants_lover_title,
  .latest_deals_title,
  .join_section_title {
    font-size: 2.2rem;
  }
  .banner_subtitle {
    font-size: 1.1rem;
  }
  .banner_img,
  .banner_img img {
    width: 100%;
    height: 245px;
  }
  .our_plants_section {
    margin-bottom: 50px;
  }
  .our_plants_subtitle {
    width: 86%;
    font-size: 1.1rem;
  }
  .our_plants_card_box {
    grid-template-columns: repeat(3, 1fr);
  }
  .our_plants_card {
    width: 100%;
    height: fit-content;
  }
  .img_box,
  .img_box img {
    width: 100%;
    height: 100%;
  }
  .card_title,
  .card_subtitle {
    font-size: 1.1rem;
  }
  .Plants_lover_section {
    margin-bottom: 120px;
    margin-top: 80px;
    gap: 20px;
  }
  .trusted_badge {
    display: none;
  }
  .plant_lover_img_box {
    width: 100%;
    margin-bottom: 22px;
  }
  .plants_lover_info_box {
    width: 100%;
    height: fit-content;
  }
  .plant_lover_lists li {
    width: 90%;
    font-size: 1rem;
    margin-bottom: 22px;
  }
  .Latest_deals_section {
    margin-bottom: 60px;
  }
  .latest_deals_subtitle,
  .zabo_card a {
    font-size: 1rem;
  }
  .latest_deals_card_box {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .zabo_card h3 {
    font-size: 1.2rem;
  }
  .join_info_details {
    height: 100px;
    width: 80%;
  }
  form input[type="email"] {
    width: 75%;
  }
  form input[type="submit"] {
    width: 30%;
  }
  .footer_info_details {
    width: 92%;
  }
  .footer_subtitle {
    width: 80%;
  }
  .footer_links {
    margin-right: 50px;
  }
}
/*? Responsive Media Query for Medium devices */

/*? Animation effect on trusted badge */
@keyframes RotatingBadge {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
/*? Animation effect on trusted badge */