* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}
/*? css variables */
:root {
  --font-noto-serif: "Noto Serif", serif;
  --font-inter: "Inter", sans-serif;
  --grey01: #8987a1;
  --gray02: #6b7280;
  --black01: #111111;
  --black02: #252432;
  --orang01: #e95a08;
  --font22px: 1.2rem;
  --font-Bold: 700;
  --font-Semi-bold: 600;
}
/*? css variables */

/*? css shared/common property */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.display_flex {
  display: flex;
}
.display_grid {
  display: grid;
}
/*? css shared/common property */

/*? header section Starts here */
/*? navbar section Starts here */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
}
.nav_links {
  align-items: center;
  gap: 40px;
}
.nav_link {
  align-items: center;
  gap: 40px;
}
.nav_link li {
  list-style: none;
}
.nav_link a {
  text-decoration: none;
  color: var(--grey01);
  font-size: 1.1rem;
}
.nav_link .link01 {
  color: var(--black02);
  font-weight: 600;
}
.cart_icon {
  cursor: pointer;
}
.cart_icon span {
  font-size: 1.1rem;
}
/*? navbar section Ends here */

/*? Banner section Starts here */
.banner_section {
  justify-content: space-between;
  align-items: flex-end;
  height: 460px;
  margin-block: 40px;
}
.banner_info {
  width: 570px;
  height: 300px;
}
.banner_title span {
  color: var(--orang01);
}
.banner_title {
  font-family: var(--font-noto-serif);
  font-size: 4rem;
  font-weight: var(--font-Bold);
  margin-bottom: 20px;
}
.banner_subtitle {
  font-family: var(--font-inter);
  font-size: var(--font22px);
  color: var(--gray02);
}
.banner_img {
  height: 355px;
}
/*? Banner section Ends here */
/*? header section Ends here */

/*? Main section Starts here  */
/*? Our Plants section starts here */
.our_plants_section {
  text-align: center;
  margin-block: 150px;
}
.our_plants_title span {
  color: var(--orang01);
}
.our_plants_title {
  font-family: var(--font-noto-serif);
  font-size: 3.1rem;
  font-weight: 700;
}
.our_plants_subtitle {
  width: 858px;
  margin: 0 auto;
  font-family: var(--font-inter);
  color: var(--gray02);
  font-size: var(--font22px);
  margin-block: 24px;
}
.our_plants_card_box {
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}
.our_plants_card {
  width: 270px;
  height: fit-content;
}
.img_box {
  margin-bottom: 20px;
}
.card_title,
.card_subtitle {
  font-family: var(--font-inter);
  font-size: var(--font22px);
  color: var(--black01);
  font-weight: 500;
}
.card_subtitle {
  font-weight: 700;
  margin-block: 14px;
}
.card_btn {
  width: 100%;
  height: 50px;
  background-color: var(--orang01);
  color: white;
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}
/*? Our Plants section ends here */

/*? Plants Lover section Starts here */
.Plants_lover_section {
  border: 1px solid saddlebrown;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.plant_lover_img_box {
  width: 540px;
  height: 100%;
  position: relative;
}
.plant_lover_img_box img {
  width: 100%;
  height: fit-content;
}
.trusted_badge {
  position: absolute;
  top: -110px;
  left: 380px;
}
.plants_lover_info_box {
  border: 1px solid tomato;
  width: 540px;
  height: 520px;
}
.plants_lover_title {
  font-family: var(--font-noto-serif);
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.plant_lover_lists li {
  width: 90%;
  font-family: var(--font-inter);
  font-size: var(--font22px);
  color: var(--gray02);
  margin-left: 30px;
  margin-bottom: 40px;
}
/*? Plants Lover section ends here */
/*? Main section Ends here  */

/*? Responsive Media Query for Small devices */

@media screen and (max-width: 576px) {
  .container {
    max-width: 96%;
    margin: 0 auto;
  }
  .nav_link {
    display: none;
  }
  .nav_logo img {
    width: 84px;
  }
  .cart_icon span {
    margin-right: 8px;
    font-size: 20px;
  }
  .banner_section {
    flex-direction: column-reverse;
    max-width: 98%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .banner_info {
    width: 100%;
    height: fit-content;
  }
  .banner_title {
    font-size: 1.5rem;
  }
  .banner_subtitle {
    font-size: 0.9rem;
  }
  .banner_img {
    width: 100%;
    height: 245px;
  }
  .banner_img img {
    width: 100%;
    height: 245px;
  }
  .our_plants_section {
    margin-block: 60px;
  }
  .our_plants_title {
    font-size: 1.5rem;
  }
  .our_plants_subtitle {
    width: 86%;
    font-size: 0.9rem;
  }
  .our_plants_card_box {
    grid-template-columns: repeat(2, 1fr);
  }
  .our_plants_card {
    width: 100%;
    height: fit-content;
  }
  .img_box img {
    width: 100%;
  }
  .card_title,
  .card_subtitle {
    font-size: 1rem;
  }
}
/*? Responsive Media Query for Small devices */

/*? Responsive Media Query for Medium devices */
@media screen and (min-width: 577px) and (max-width: 999px) {
  .container {
    max-width: 96%;
    margin: 0 auto;
  }
  .banner_section {
    align-items: center;
  }
  .banner_info {
    width: 100%;
    height: fit-content;
  }
  .banner_title {
    font-size: 2.2rem;
  }
  .banner_subtitle {
    font-size: 1.1rem;
  }
  .banner_img {
    width: 100%;
    height: 245px;
  }
  .banner_img img {
    width: 100%;
    height: 245px;
  }
  .our_plants_section {
    margin-bottom: 50px;
  }
  .our_plants_title {
    font-size: 2.2rem;
  }
  .our_plants_subtitle {
    width: 86%;
    font-size: 1.1rem;
  }
  .our_plants_card_box {
    grid-template-columns: repeat(3, 1fr);
  }
  .our_plants_card {
    width: 100%;
    height: fit-content;
  }
  .img_box img {
    width: 100%;
  }
  .card_title,
  .card_subtitle {
    font-size: 1.1rem;
  }
}
/*? Responsive Media Query for Medium devices */
